.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .popup-main {
    background-color: white;
    padding: 20px;
    color: black;
  }